NODE_ENV=development
APP_NAME=carai-backend
PORT=3000
API_PREFIX=api/v1
SWAGGER_PATH=docs
LOG_LEVEL=debug
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/carai?schema=public

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_TTL_SECONDS=60

POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=carai
POSTGRES_URI=postgresql://postgres:postgres@postgres:5432/carai?schema=public

JWT_ACCESS_SECRET=super_access_secret
JWT_REFRESH_SECRET=super_refresh_secret

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

GOOGLE_CLIENT_ID=your_google_client_id